<mat-toolbar color="primary">
  <button mat-button routerLink="/tribler" routerLinkActive="mat-accent">Tribler</button>
  <button mat-button routerLink="/trustchain" routerLinkActive="mat-accent">Trustchain</button>
  <button mat-button routerLink="/ipv8" routerLinkActive="mat-accent">IPv8</button>
  <button mat-button routerLink="/tunnel" routerLinkActive="mat-accent">Tunnels</button>
  <button mat-button routerLink="/dht" routerLinkActive="mat-accent">DHT</button>
  <button mat-button routerLink="/event" routerLinkActive="mat-accent">Events</button>
  <button mat-button routerLink="/system" routerLinkActive="mat-accent">System</button>
  <button mat-button routerLink="/libtorrent" routerLinkActive="mat-accent">Libtorrent</button>
  <button mat-button routerLink="/logs" routerLinkActive="mat-accent">Logs</button>
</mat-toolbar>
<router-outlet></router-outlet>
