<mat-toolbar color="primary">
  <button mat-button routerLink="/tribler" routerLinkActive="mat-accent" queryParamsHandling="merge">Tribler</button>
  <button mat-button routerLink="/asyncio" routerLinkActive="mat-accent" queryParamsHandling="merge">Asyncio</button>
  <button mat-button routerLink="/ipv8" routerLinkActive="mat-accent" queryParamsHandling="merge">IPv8</button>
  <button mat-button routerLink="/bandwidth" routerLinkActive="mat-accent" queryParamsHandling="merge">Bandwidth</button>
  <button mat-button routerLink="/tunnel" routerLinkActive="mat-accent" queryParamsHandling="merge">Tunnels</button>
  <button mat-button routerLink="/dht" routerLinkActive="mat-accent" queryParamsHandling="merge">DHT</button>
  <button mat-button routerLink="/events" routerLinkActive="mat-accent" queryParamsHandling="merge">Events</button>
  <button mat-button routerLink="/system" routerLinkActive="mat-accent" queryParamsHandling="merge">System</button>
  <button mat-button routerLink="/libtorrent" routerLinkActive="mat-accent" queryParamsHandling="merge">Libtorrent</button>
  <button mat-button routerLink="/logs" routerLinkActive="mat-accent" queryParamsHandling="merge">Logs</button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="showLoginDialog()"><mat-icon>lock</mat-icon></button>
</mat-toolbar>
<router-outlet></router-outlet>
