<mat-tab-group animationDuration="0ms">
  <mat-tab label="Files">
    <ng-template matTabContent>
      <app-files></app-files>
    </ng-template>
  </mat-tab>
  <mat-tab label="Sockets">
    <ng-template matTabContent>
      <app-sockets></app-sockets>
    </ng-template>
  </mat-tab>
  <mat-tab label="Threads">
    <ng-template matTabContent>
      <app-threads></app-threads>
    </ng-template>
  </mat-tab>
  <mat-tab label="CPU">
    <ng-template matTabContent>
      <app-cpu></app-cpu>
    </ng-template>
  </mat-tab>
  <mat-tab label="Memory">
    <ng-template matTabContent>
      <app-memory></app-memory>
    </ng-template>
  </mat-tab>
  <mat-tab label="Profiler">
    <ng-template matTabContent>
      <app-profiler></app-profiler>
    </ng-template>
  </mat-tab>
</mat-tab-group>
